@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Nova+Oval|Delius+Swash+Caps);

html,body {
  height:100%;
}

h1 {
  
  font-family: 'Delius Swash Caps', cursive;
  font-size:80px;
  color:#fff;
}

.lead {
  color:#DDCCEE;
  font-family: 'Delius Swash Caps', cursive;
    
}

h1 .alternate-font{
    font-family: 'Nova Oval', cursive;
  color: #7B3904;
}


/* Custom container */
body {
  margin: 0 auto;
  width: 100%;
  background-color:#E67317;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.coffee-strength + img{
  opacity:0.4;
}
.coffee-strength:checked + img{
  opacity:1;
}

.coffee-strength + img, .coffee{
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.slider.disabled{
  opacity: 0.6;
}

.slider.disabled *{
  cursor:default;
}